<footer class="site-footer">
  <div class="footer-info">
    <a href="index.html" class="footer-logo">SOLMAZ HADAVAND</a>

    <p>3D Character Artist</p>
  </div>

  <div class="footer-links">
    <a href="mailto:solmazhadavand@gmail.com">Email</a>

    <a
      href="https://www.linkedin.com/in/solmaz-hadavand-148770174/"
      target="_blank"
      rel="noopener noreferrer"
    >
      LinkedIn
    </a>

    <a
      href="https://www.artstation.com/solmazhadavand"
      target="_blank"
      rel="noopener noreferrer"
    >
      ArtStation
    </a>

    <a
      href="https://www.instagram.com/solmaz.hadavand.3dart/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Instagram
    </a>
  </div>

  <p class="footer-copyright">© 2026 Solmaz Hadavand</p>
</footer>
